{% extends 'master.html' %}

{% block title %} About {% endblock %}
{% block middleNav %} About Us {% endblock %}

{% block content %}
<body class="aboutBody">
<div>
    <h2>
        <span class="funFacts">About Girard Park</span>
    </h2>
    <ul>
        <li> 
            Girard Park is located at 500 Girard Park Drive, Lafayette Louisiana.
        </li>
        <li>
            Extra fact.
        </li>    
        <li>
            Extra fact.
        </li>
    </ul>
    <h2>
        <span class="funFacts">Fun Facts</span>
    </h2>
    <ul>
        <li> 
            Park property was part of the original Spanish land that was granted to René Trahan on May 4, 1776.
        </li>
        <li>
            Extra fact.
        </li>    
        <li>
            Extra fact.
        </li>
    </ul>
    <a href="https://github.com/rommethecoder/SeniorProject" target="_blank">Link to the GitHub</a>
</div>
</body>
{% endblock %}