{% extends 'master.html' %}

{% block content %}
<body>
<h1>Calendar</h1>
<a href="/calendar/add/" class="btn btn-primary">Add Event</a>
<div id="calendar" style="background-color: #f0f0f0"></div>


<script>
    // Calendar script
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var eventDetailsBox = document.getElementById('event-details');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // Parameters
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            initialView: 'dayGridMonth',
            events: '/calendar/get_events/',
            height: 525,
        });
        calendar.render();

        $('#event-form').on('submit', function (event) {
            event.preventDefault();
            var formData = $(this).serialize();

            $.post('/add_event/', formData, function (response) {
                if (response.status === 'success') {
                    // Add the new event to FullCalendar
                    calendar.addEvent(response.event);

                    // Clear the form
                    $('#event-form')[0].reset();
                } else {
                    // Handle form validation errors
                    // Display the errors to the user, if needed
                }
            });
        });
    });
</script>
</body>
{% endblock %}
