{% extends 'master.html' %}

{% block title %} Home {% endblock %}
{% block middleNav %} Home Page {% endblock %}

{% block content %}
{% load static %}
<body class="homeBody">
<!-- Header-->
<header class="bg-dark py-5 parkBackground">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2 parkText">Girard Park</h1>
                    <p class="lead fw-normal text-white-50 mb-4" style="color: white !important;">Welcome to Girard Park, Lafayette's cherished green oasis.
                        Enjoy leisurely strolls amidst picturesque landscapes and serene picnics by charming ponds.
                        Personalize your experience by booking our versatile pavilions for birthdays, sports, or corporate gatherings.
                        Embrace tranquility, engage in lively moments, and create lasting memories at Girard Park.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3"
                           href="#features"
                           style="background-color: #091E05; border-color: #FFCC00"> Learn More </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5"
                     src="{% static '/images/Park3-transformed.jpeg' %}"
                     alt="Picture Of Girard Park"/>
            </div>
        </div>
    </div>
</header>
<!-- Features Section-->
<section class="py-5" id="features" style="background-color: #FAF5E9">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A feature filled park!</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <ul>
                        <li><h2 class="h5">33 Acres</h2></li>
                        <li><h2 class="h5">1.25 Mile Jogging Trail</h2></li>
                        <li><h2 class="h5">Work-Out Station</h2></li>
                        <li><h2 class="h5">Open Play Area</h2></li>
                        <li><h2 class="h5">Tennis Courts</h2></li>
                        <li><h2 class="h5">Hitting Wall</h2></li>
                        <li><h2 class="h5">Outdoor Volleyball Courts</h2></li>
                        <li><h2 class="h5">Basketball Courts</h2></li>
                    </ul>
                    <ul>
                        <li><h2 class="h5">Children's Playground with Baby Equipment</h2></li>
                        <li><h2 class="h5">9-Hole Disc Golf Course</h2></li>
                        <li><h2 class="h5">Children's Splash Pad</h2></li>
                        <li><h2 class="h5">Ping-Pong Table</h2></li>
                        <li><h2 class="h5">Fitness Equipment</h2></li>
                        <li><h2 class="h5">Fishing Pond</h2></li>
                        <li><h2 class="h5">Restrooms and Accessible Restrooms</h2></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section-->
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"What a lovely website !"
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="{% static '/images/obama.jpg' %}" alt="..."/>
                        <div class="fw-bold">
                            Barack Obama
                            <span class="fw-bold text-primary mx-1">/</span>
                            Former President
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Previous Events Section-->
<section class="py-5" id="previousEvents"  style="background-color: #FAF5E9">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Previous Events</h2>
                    <p class="lead fw-normal text-muted mb-5">As a vibrant venue for community celebrations and cultural gatherings,
                        Girard Park hosts diverse events, from festivals to workshops.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static '/images/festival-aec.jpg' %}" alt="..."/>
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3">
                            Festivals Acadiens Et Creoles </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static '/images/holi-festival.jpg' %}" alt="..."/>
                    <img class="card-img-top" src="{% static '/images/woman-in-paint.jpg' %}" alt="..."/>
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">
                            Holi Festival of Colors </h5></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static '/images/parish-proud.jpg' %}" alt="..."/>
                    <img class="card-img-top" src="{% static '/images/parish-circle.jpg' %}" alt="..."/>
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">
                            Parish Proud Day </h5></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static '/images/fight-lupus.jpg' %}" alt="..."/>
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">
                            Annual End Lupus Walk</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}