{% extends 'master.html' %}

{% block title %} Home {% endblock %}

{% block content %}
  <nav class="">
    <ul class="nav bg-dark">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="#">Calender</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="#">Calender</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="#">Calender</a>
      </li>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
    </ul>
  </nav>
{% endblock %}
