{% extends 'master.html' %}

{% block title %} Map {% endblock %}
{% block middleNav %} Girard Park Interactive Map {% endblock %}


<!--
Available Objects {
    "availabilities",
    "areas",
    "bookableAreas",
    "events"
}-->


{% block content %}
<body class="mapBody">
<div id="googleMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.069212640062!2d-92.02259892284866!3d30.20657197484256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86249d02fbde460b%3A0xaa454549d42d16a5!2sGirard%20Park!5e0!3m2!1sen!2sus!4v1697507624176!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<div class="infoBody">
    <div class="bookableBody">
        <label for="bookable">Bookable Areas</label>
        <select id="bookable" name="selectedBooking">
            <option value="" selected="selected">---SELECT---</option>
            {% for area in bookableAreas %}
            <option value="{{area.areaid}}">{{area.areaname}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="bookableAreaBody">
        <label for="allAreas">All Areas</label>
        <select id="allAreas" name="allAreas">
            <option value="" selected="selected">---SELECT---</option>
            {% for area in areas %}
            <option value="{{area.areaid}}">{{area.areaname}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="eventsBody">
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#eventsModal">
            Upcoming Events
        </button>

        <!-- Modal -->
        <div class="modal fade" id="eventsModal" tabindex="-1" role="dialog" aria-labelledby="eventsModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventsModalLabel">Upcoming Events</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Event Name</th>
                                    <th>Event Date</th>
                                    <th>Event Type</th>
                                    <th>Event Category</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in events %}
                                <tr>
                                    <td>{{ event.eventname }}</td>
                                    <td>{{ event.eventdate }}</td>
                                    <td>{{ event.eventtype }}</td>
                                    <td>{{ event.eventcategory }}</td>
                                    <td>{{ event.description }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">No events available.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}