{% extends 'master.html' %}

{% block title %} Map {% endblock %}
{% block middleNav %} Girard Park Interactive Map {% endblock %}


<!--
Available Objects {
    "areas",
    "events",
    "bookings",
    "bookableAreas",
    "current_date",
}-->


{% block content %}
{% load static %}
<body class="">
<div class="interactiveMapContainer">
    <div class="interactiveMap">
        <div class="mapCenterContainer" id="map-container">
            <!--            <img class="girardParkMap" src="{% static '/images/map.svg' %}" alt="Girard Park Map"/>-->
            <iframe class="girardParkMap" id="map-frame" src="{% static '/images/map1.svg' %}"></iframe>
            <button class="zoom-btn" id="zoom-in">Zoom In</button>
            <button class="zoom-btn" id="zoom-out">Zoom Out</button>
        </div>
    </div>
    <div class="bookingInfo">
        <div class="bookingInfoCenterContainer">
            <div class="infoBody">
                <!--                <div class="bookableBody">-->
                <!--                    <label for="bookable">Bookable Areas</label>-->
                <!--                    <select id="bookable" name="selectedBooking">-->
                <!--                        <option value="" selected="selected">-&#45;&#45;SELECT-&#45;&#45;</option>-->
                <!--                        {% for area in bookableAreas %}-->
                <!--                        <option value="{{area.AreaId}}">{{area.name}}</option>-->
                <!--                        {% endfor %}-->
                <!--                    </select>-->
                <!--                </div>-->
                <!--                <div class="bookableAreaBody">-->
                <!--                    <label for="area">All Areas</label>-->
                <!--                    <select id="area" name="area">-->
                <!--                        <option value="" selected="selected">-&#45;&#45;SELECT-&#45;&#45;</option>-->
                <!--                        {% for area in areas %}-->
                <!--                        <option value="{{area.AreaId}}">{{area.name}}</option>-->
                <!--                        {% endfor %}-->
                <!--                    </select>-->
                <!--                </div>-->
                <div class="eventsBody">
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#eventsModal">
                        Upcoming Events
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="eventsModal" tabindex="-1" role="dialog"
                         aria-labelledby="eventsModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="eventsModalLabel">Upcoming Events</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Event Name</th>
                                                <th>Event Date</th>
                                                {% if request.user.is_authenticated %}
                                                <th>Event Type</th>
                                                {% endif %}
                                                <th>Event Category</th>
                                                <th>Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if request.user.is_authenticated %}
                                            {% for event in events %}
                                            <tr>
                                                <td>{{ event.name }}</td>
                                                <td>{{ event.date }}</td>
                                                <td>{% if event.is_public %}
                                                    Public
                                                    {% else %}
                                                    Private
                                                    {% endif %}
                                                </td>
                                                <td>{{ event.category }}</td>
                                                <td>{{ event.description }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            {% for event in events %}
                                            {% if event.is_public %}
                                            <tr>
                                                <td>{{ event.name }}</td>
                                                <td>{{ event.date }}</td>
                                                <td>{{ event.category }}</td>
                                                <td>{{ event.description }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookingsBody">
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#bookingsModal">
                        Upcoming Bookings
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="bookingsModal" tabindex="-1" role="dialog"
                         aria-labelledby="bookingsModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="bookingsModalLabel">Upcoming Bookings </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Booker</th>
                                                <th>Event</th>
                                                {% if request.user.is_authenticated %}
                                                <th>Event Type</th>
                                                {% endif %}
                                                <th>Area</th>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Estimated Attendance</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if request.user.is_authenticated %}
                                            {% for booking in bookings %}
                                            <tr>
                                                <td>{{ booking.user.first_name }} {{ booking.user.last_name }}</td>
                                                <td>{{ booking.event.name }}</td>
                                                <td>
                                                    {% if booking.event.is_public %}
                                                    Public
                                                    {% else %}
                                                    Private
                                                    {% endif %}
                                                </td>
                                                <td>{{ booking.area.name }}</td>
                                                <td>{{ booking.start_time }}</td>
                                                <td>{{ booking.end_time }}</td>
                                                <td>{{ booking.attendance }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="5">No bookings available.</td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            {% for booking in bookings %}
                                            {% if booking.event.is_public %}
                                            <tr>
                                                <td>{{ booking.user.first_name }} {{ booking.user.last_name }}</td>
                                                <td>{{ booking.event.name }}</td>
                                                <td>{{ booking.area.name }}</td>
                                                <td>{{ booking.start_time }}</td>
                                                <td>{{ booking.end_time }}</td>
                                                <td>{{ booking.attendance }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <div class="createBookingDiv">
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#bookingModal">
                        Create Booking
                    </button>

                    <!-- Modal for Booking -->
                    <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Make a Booking</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Booking Form -->
                                    <form id="bookingForm" method="post" action="/create_event_and_booking/">
                                        {% csrf_token %}
                                        <!-- Event Information -->
                                        <div class="form-group">
                                            <label for="eventName">Event Name:</label>
                                            <input type="text" class="form-control" id="eventName" name="event_name"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventDate">Event Date:</label>
                                            <input type="date" class="form-control" id="eventDate" name="event_date"
                                                   min="{{current_date}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="isPublic">Is this event public?</label>
                                            <select class="form-control" id="isPublic" name="is_public" required>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventCategory">Event Category:</label>
                                            <input type="text" class="form-control" id="eventCategory"
                                                   name="event_category" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventDescription">Event Description:</label>
                                            <textarea class="form-control" id="eventDescription"
                                                      name="event_description" required></textarea>
                                        </div>
                                        <!-- Booking Information -->
                                        <div class="form-group">
                                            <label for="attendance">Estimated Attendance:</label>
                                            <input type="number" class="form-control" id="attendance" name="attendance"
                                                   required>
                                        </div>
                                        <!-- Start Time -->
                                        <div class="form-group">
                                            <label for="startTime">Start Time:</label>
                                            <input type="time" class="form-control" id="startTime" name="start_time"
                                                   min="{{current_date}}" required>
                                        </div>
                                        <!-- End Time -->
                                        <div class="form-group">
                                            <label for="endTime">End Time:</label>
                                            <input type="time" class="form-control" id="endTime" name="end_time"
                                                   min="{{current_date}}" required>
                                        </div>
                                        <!-- Area Selection -->
                                        <div class="form-group">
                                            <label for="areaId">Available Areas:</label>
                                            <select class="form-control" id="areaId" name="area_id" required>
                                                {% for area in bookableAreas %}
                                                <option value="{{ area.id }}">{{ area.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit Booking</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div>
    </div> <!-- Remove Later -->
    <script>

        $(document).ready(function () {

            const mapFrame = $("#map-frame")[0];
            let scale = 1;

            // Function to update zoom level
            function updateZoom() {
                $(mapFrame.contentDocument.documentElement).css("transform", `scale(${scale})`);
            }

            // Zoom In button click event
            $("#zoom-in").on("click", function () {
                scale += 0.1;
                updateZoom();
            });

            // Zoom Out button click event
            $("#zoom-out").on("click", function () {
                scale = Math.max(0.5, scale - 0.1);
                updateZoom();
            });
        });

    </script>
    <!-- JavaScript to update time options based on event date -->
    <script>
        // JavaScript to validate start and end times (optional)
        const startTimeInput = document.getElementById('startTime');
        const endTimeInput = document.getElementById('endTime');

        // Event listener for form submission
        document.getElementById('bookingForm').addEventListener('submit', function (event) {
            // Get selected event date, start time, and end time
            const selectedDate = document.getElementById('eventDate').value;
            const startTime = startTimeInput.value;
            const endTime = endTimeInput.value;

            // Validate start time and end time (if needed)
            if (selectedDate && startTime && endTime) {
                const selectedDateTime = new Date(`${selectedDate}T${startTime}`);
                const endDateTime = new Date(`${selectedDate}T${endTime}`);

                if (selectedDateTime >= endDateTime) {
                    event.preventDefault();
                    alert('End time must be later than start time.');
                    return false;
                }
            }
        });
    </script>
    <style>
        body {
            background-color: #f2f2f2;
        }

        .mapCenterContainer {
            position: relative;
            border: 2px solid #000;
            top: 15%;
            left: 15%;
            width: 80%;
            height: 80%;
        }

        .girardParkMap {
            height: 100%;
            width: 100%;
            position: relative;
        }

        .interactiveMapContainer {
            /*background-color: yellow;*/
            height: 50vh;
            width: 100%;
            display: inline-flex;
            margin: 0;
            padding: 0;
        }

        .interactiveMap {
            position: relative;
            /*background-color: red;*/
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .bookingInfo {
            position: relative;
            /*background-color: green;*/
            display: flex;
            height: 100%;
            width: 50%;
            margin: 0;
            padding: 0;
        }

        .bookingInfoCenterContainer {
            position: relative;
            /*background-color: black;*/
            top: 15%;
            left: 0;
            width: 70%;
            height: 70%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
        }

        .createBookingDiv {

        }

    </style>
</body>

{% endblock %}

