{% extends 'master.html' %}

{% block title %} Map_Calendar {% endblock %}
{% block middleNav %} Interactive Map / Calendar {% endblock %}


<!--
Available Objects {
    "areas",
    "events",
    "bookings",
    "bookableAreas",
    "current_date",
}-->


{% block content %}
{% load static %}
<body class="mapPageBody">
<div class="firstHalfContainer">
    <div class="backgroundBubble bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="leftSide">
            <div class="map">
                <iframe class="girardParkMap" id="map-frame" src="{% static '/images/map1.svg' %}"></iframe>
                <div class="btn-group">
                    <button class="zoom-btn btn btn-outline-primary custom-btn" id="zoom-in">Zoom In</button>
                    <button class="zoom-btn btn btn-outline-primary custom-btn" id="zoom-out">Zoom Out</button>
                </div>

            </div>
        </div>
        <div class="rightSide">
            <div class="infoBody">
                <div class="eventsBody">
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-outline-primary custom-btn" data-toggle="modal"
                            data-target="#eventsModal">
                        Upcoming Events
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="eventsModal" tabindex="-1" role="dialog"
                         aria-labelledby="eventsModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="eventsModalLabel">Upcoming Events</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Event Name</th>
                                                <th>Event Date</th>
                                                {% if request.user.is_authenticated %}
                                                <th>Event Type</th>
                                                {% endif %}
                                                <th>Event Category</th>
                                                <th>Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if request.user.is_authenticated %}
                                            {% for event in events %}
                                            <tr>
                                                <td>{{ event.name }}</td>
                                                <td>{{ event.date }}</td>
                                                <td>{% if event.is_public %}
                                                    Public
                                                    {% else %}
                                                    Private
                                                    {% endif %}
                                                </td>
                                                <td>{{ event.category }}</td>
                                                <td>{{ event.description }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            {% for event in events %}
                                            {% if event.is_public %}
                                            <tr>
                                                <td>{{ event.name }}</td>
                                                <td>{{ event.date }}</td>
                                                <td>{{ event.category }}</td>
                                                <td>{{ event.description }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookingsBody">
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-outline-primary custom-btn" data-toggle="modal"
                            data-target="#bookingsModal">
                        Upcoming Bookings
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="bookingsModal" tabindex="-1" role="dialog"
                         aria-labelledby="bookingsModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="bookingsModalLabel">Upcoming Bookings </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Booker</th>
                                                <th>Event</th>
                                                {% if request.user.is_authenticated %}
                                                <th>Event Type</th>
                                                {% endif %}
                                                <th>Area</th>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Estimated Attendance</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if request.user.is_authenticated %}
                                            {% for booking in bookings %}
                                            {% if booking.status == 'Approved' %}
                                            <tr>
                                                <td>{{ booking.user.first_name }} {{ booking.user.last_name }}</td>
                                                <td>{{ booking.event.name }}</td>
                                                <td>
                                                    {% if booking.event.is_public %}
                                                    Public
                                                    {% else %}
                                                    Private
                                                    {% endif %}
                                                </td>
                                                <td>{{ booking.area.name }}</td>
                                                <td>{{ booking.start_time }}</td>
                                                <td>{{ booking.end_time }}</td>
                                                <td>{{ booking.attendance }}</td>
                                            </tr>
                                            {% endif %}
                                            {% empty %}
                                            <tr>
                                                <td colspan="5">No approved bookings available.</td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            {% for booking in bookings %}
                                            {% if booking.status == 'Approved' and booking.event.is_public %}
                                            <tr>
                                                <td>{{ booking.user.first_name }} {{ booking.user.last_name }}</td>
                                                <td>{{ booking.event.name }}</td>
                                                <td>{{ booking.area.name }}</td>
                                                <td>{{ booking.start_time }}</td>
                                                <td>{{ booking.end_time }}</td>
                                                <td>{{ booking.attendance }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <div class="createBookingDiv">
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-outline-primary custom-btn" data-toggle="modal"
                            data-target="#bookingModal">
                        Create Booking
                    </button>

                    <!-- Modal for Booking -->
                    <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Make a Booking</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Booking Form -->
                                    <form id="bookingForm" method="post" action="/create_event_and_booking/">
                                        {% csrf_token %}
                                        <!-- Event Information -->
                                        <div class="form-group">
                                            <label for="eventName">Event Name:</label>
                                            <input type="text" class="form-control" id="eventName" name="event_name"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventDate">Event Date:</label>
                                            <input type="date" class="form-control" id="eventDate" name="event_date"
                                                   min="{{current_date}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="isPublic">Is this event public?</label>
                                            <select class="form-control" id="isPublic" name="is_public" required>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventCategory">Event Category:</label>
                                            <input type="text" class="form-control" id="eventCategory"
                                                   name="event_category" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventDescription">Event Description:</label>
                                            <textarea class="form-control" id="eventDescription"
                                                      name="event_description" required></textarea>
                                        </div>
                                        <!-- Booking Information -->
                                        <div class="form-group">
                                            <label for="attendance">Estimated Attendance:</label>
                                            <input type="number" class="form-control" id="attendance" name="attendance"
                                                   required>
                                        </div>
                                        <!-- Start Time -->
                                        <div class="form-group">
                                            <label for="startTime">Start Time:</label>
                                            <input type="time" class="form-control" id="startTime" name="start_time"
                                                   min="{{current_date}}" required>
                                        </div>
                                        <!-- End Time -->
                                        <div class="form-group">
                                            <label for="endTime">End Time:</label>
                                            <input type="time" class="form-control" id="endTime" name="end_time"
                                                   min="{{current_date}}" required>
                                        </div>
                                        <!-- Area Selection -->
                                        <div class="form-group">
                                            <label for="areaId">Available Areas:</label>
                                            <select class="form-control" id="areaId" name="area_id" required>
                                                {% for area in bookableAreas %}
                                                <option value="{{ area.id }}">{{ area.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit Booking</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="secondHalfContainer">
    <div class="backgroundBubble bg-light rounded-3 py-5 px-4 px-md-5 mb-5" >
        <div class="leftSide">
            <div class="calendar bg-info rounded-3 py-5 px-4 px-md-5 mb-5">
                <div id="calendar"></div>
            </div>
        </div>
        <div class="rightSide">
            <button class="btn btn-outline-primary custom-btn"> Test </button>
        </div>
    </div>
</div>

<!-- Zoom In/Out Functionality -->
<script>

    $(document).ready(function () {

        const mapFrame = $("#map-frame")[0];
        let scale = 1;

        // Function to update zoom level
        function updateZoom() {
            $(mapFrame.contentDocument.documentElement).css("transform", `scale(${scale})`);
        }

        // Zoom In button click event
        $("#zoom-in").on("click", function () {
            scale += 0.1;
            updateZoom();
        });

        // Zoom Out button click event
        $("#zoom-out").on("click", function () {
            scale = Math.max(0.5, scale - 0.1);
            updateZoom();
        });
    });
</script>

<!-- JavaScript to update time options based on event date -->
<script>
    // JavaScript to validate start and end times (optional)
    const startTimeInput = document.getElementById('startTime');
    const endTimeInput = document.getElementById('endTime');

    // Event listener for form submission
    document.getElementById('bookingForm').addEventListener('submit', function (event) {
        // Get selected event date, start time, and end time
        const selectedDate = document.getElementById('eventDate').value;
        const startTime = startTimeInput.value;
        const endTime = endTimeInput.value;

        // Validate start time and end time (if needed)
        if (selectedDate && startTime && endTime) {
            const selectedDateTime = new Date(`${selectedDate}T${startTime}`);
            const endDateTime = new Date(`${selectedDate}T${endTime}`);

            if (selectedDateTime >= endDateTime) {
                event.preventDefault();
                alert('End time must be later than start time.');
                return false;
            }
        }
    });
</script>

<!-- Calendar Scripts -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var eventDetailsBox = document.getElementById('event-details');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // Parameters
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            initialView: 'dayGridMonth',
            events: '/calendar/get_events/',
            height: 525,
            dateClick: function (info) {
                // Fetch events for the clicked day
                $.get('/calendar/get_events/', { start: info.dateStr, end: info.dateStr }, function (events) {
                    // Display event details in a popover
                    if (events.length > 0) {
                        var popoverContent = '';
                        // Really ugly workarounds here, don't look
                        events.forEach(function (event) {
                            var formattedEventDate = moment(event.date).format('YYYY-MM-DD');
                            if (formattedEventDate === info.dateStr) {
                                popoverContent += '<div class="popover-event">';
                                popoverContent += '<div class="popover-event__title"><strong>' + event.title + '</strong></div>';
                                popoverContent += '<div class="popover-event__start-time">Start Time: ' + moment(event.date).format('HH:mm:ss') + '</div>';
                                popoverContent += '<div class="popover-event__description">Description: ' + event.description + '</div>';
                                popoverContent += '</div>';
                            }
                        });
                        

                        $(info.dayEl).popover({
                            trigger: 'manual', // Set trigger to 'manual'
                            title: 'Events on ' + info.dateStr,
                            content: popoverContent,
                            placement: 'auto',
                            html: true,
                        }).on('click', function (e) {
                            // Toggle the popover on click
                            $(this).popover('toggle');
                            e.stopPropagation(); // Prevent the click event from propagating
                        });

                        // Dismiss popover on outside click
                        $(document).on('click', function (e) {
                            if ($(info.dayEl).has(e.target).length === 0) {
                                $(info.dayEl).popover('hide');
                            }
                        });
                        // Show the popover
                        $(info.dayEl).popover('show');
                    }
                });
            },
        });
        calendar.render();

        $('#event-form').on('submit', function (event) {
            event.preventDefault();
            var formData = $(this).serialize();

            $.post('/add_event/', formData, function (response) {
                if (response.status === 'success') {
                    // Add the new event to FullCalendar
                    calendar.addEvent(response.event);

                    // Clear the form
                    $('#event-form')[0].reset();
                } else {
                    // Handle form validation errors
                    // Display the errors to the user, if needed
                }
            });
        });
    });
</script>


<!-- Green (#009B4D), tangerine yellow (#FFCC00), ivory (#FAF5E9) -->
<style>
    .mapPageBody {
        background-color: #f2f2f2;
        height: 100vh;
    }

    .custom-btn {
        color: #009B4D;
        border-color: #009B4D;
    }

    .girardParkMap {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .firstHalfContainer {
        height: 60vh;
        width: 100%;
        display: inline-flex;
        margin: 0;
        padding: 0;
    }
    .secondHalfContainer {
            height: 75vh;
            width: 100%;
            display: inline-flex;
            margin: 0;
            padding: 0;
        }

    .leftSide {
        height: inherit;
        width: 70%;
    }
    .rightSide {
        height: inherit;
        width: 30%;
    }

    .backgroundBubble {
        height: 85%;
        width: 85%;
        margin: auto;
        display: flex;
    }

    .map {
        height: 100%;
    }
    .calendar {
        height: 100%;
    }


</style>
</body>

{% endblock %}

