<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static '/styles/index.css' %}">
    </head>
    <header>
  <h1>Welcome to the Project</h1>
  <div class="navBar">
    <nav>
      <ul>
        <li>
            <a href="/">Home</a> <!-- Brings you to the main page -->
        </li> 
        <li>
            <a href="">Calender</a>
        <li>
        </li> 
            <a href="">Calender</a> 
        </li> 
        <li>
            <a href="/about">About</a> <!-- This links to the about page -->
        </li> 
      </ul>
    </nav>
  </div>
</header>
    <body>

    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static '/scripts/index.js' %}"> </script>
    </body>
</html>
