{% extends "base_generic.html" %}
{% load static %}
{% block style %}
{% endblock style %}
{% block title %}
    Meet our team
{% endblock title %}
{% block content %}
    <div class="justify-content-center">
        <div class="text-center d-flex">
            <div class="col-md-3 col-sm-6 mb-4">
                <i class="fa-regular fa-circle-user fa-8x mb-2"></i>
                <h4 class="fw-bold">Andre Broussard</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <i class="fa-regular fa-circle-user fa-8x mb-2"></i>
                <h4 class="fw-bold">Ron West</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <i class="fa-regular fa-circle-user fa-8x mb-2"></i>
                <h4 class="fw-bold">Justin Landry</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <i class="fa-regular fa-circle-user fa-8x mb-2"></i>
                <h4 class="fw-bold">Romme Felton</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <i class="fa-regular fa-circle-user fa-8x mb-2"></i>
                <h4 class="fw-bold">Ceren Engin</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <i class="fa-regular fa-circle-user fa-8x mb-2"></i>
                <h4 class="fw-bold">Sulaiman Afolabi</h4>
            </div>
        </div>
    </div>
{% endblock content %}
